<h1>Listing invoices</h1>
<%= link_to 'New invoice', new_invoice_path %>
<table>
  <tr>
    <th>InvoiceTitle</th>
    <th>InvoiceNumber</th>
    <th>ApplicatName</th>
  </tr>

  <% @invoices_info.each do |invoice| %>
    <tr>
      <td><%= invoice.invoiceTitle %></td>
      <td><%= invoice.invoiceNumber %></td>
      <td><%= invoice.applicatName %></td>
      <td><%= link_to 'Show', invoice_path(invoice) %></td>
      <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
      <td><%= link_to 'Delete', invoice_path(invoice), data:{turbo_method: :delete, turbo_confirm: "确认删除吗"} %></td>
    </tr>
  <% end %>
</table>