<p>
  <strong>invoiceTitle:</strong>
  <%= @invoice_info.invoiceTitle %>
</p>
<p>
  <strong>invoiceNumber:</strong>
  <%= @invoice_info.invoiceNumber %>
</p>
<p>
  <strong>applicatName:</strong>
  <%= @invoice_info.applicatName %>
</p>
<td><%= link_to 'Edit', edit_invoice_path(@invoice_info) %></td>
<%= link_to 'Back', invoices_path %>