<p>
  <strong>invoiceTitle:</strong>
  <%= @invoice.invoice_title %>
</p>
<p>
  <strong>invoiceNumber:</strong>
  <%= @invoice.invoice_number %>
</p>
<p>
  <strong>applicatName:</strong>
  <%= @invoice.applicat_name %>
</p>
<td><%= link_to 'Edit', edit_invoice_path(@invoice) %></td>
<%= link_to 'Back', invoices_path %>